<div class="container px-5 px-sm-0">
  <div class="row">
      <div class="col-md-3">
        <!--新規投稿-->
        <div class="border border-secondary contents-area">
          <div class="bg-light p-2 text-secondary text-center">
            <h1>新規投稿</h1>
            <%= render 'post_form', post: @post%>
          </div>
        </div>
      </div>
        <!--投稿一覧-->
        <div class="col-md-8 offset-md-1">
          <h2>投稿一覧</h2>
          <%= render "post_index", posts: @posts %>
        </div>
  </div>
</div>
