<div class="form-group">
  <%= form_with(model: [@post, @comment]) do |f| %>
    <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control", size: "80x5" %>
      <br>
    <%= f.submit "送信" %>
  <% end %>
</div>