<div class="container-field align-items-center">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-5">
      <div class="border border-secondary contents-area bg-light">

      <div class="bg-secondary p-2 text-light text-center">
        <h1><strong>Ve-Commu</strong>について</h1>
      </div>


          <div class="m-5">
            <div class="text-dark text-center">
              <div class="d-flex justify-content-center">
                <h4>
                  数あるサイトの中から<strong>Ve-Commu</strong>(ヴィーコミュ)をご覧いただき、誠にありがとうございます。<br><br>
                  <strong>Ve-Commu</strong>は様々な理由から食にこだわりがある方に利用していただくためのコミュニティサイトです。<br><br>
                  外食の時、旅行の時、皆様は何をお召し上がりになるでしょうか？<br><br>

                </h4>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>