<div class="container-field align-items-center">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-5">
      <div class="border border-secondary contents-area bg-light">

      <div class="bg-secondary p-2 text-light text-center">
        <h1><strong>Ve-Commu</strong>について</h1>
      </div>


          <div class="m-5">
            <div class="text-dark text-center">
              <div class="d-flex justify-content-center">
                <p>
                  数あるサイトの中から<strong>Ve-Commu</strong>(ヴィーコミュ)をご覧いただき、誠にありがとうございます。<br><br>
                  <strong>Ve-Commu</strong>は様々な理由から食にこだわりがある方に利用していただくためのコミュニティサイトです。<br><br>
                  あなたは「ハラル」や「ヴィーガン」といった言葉をご存知でしょうか？<br><br>
                  どちらも食事に気を使う必要がある思想になります。<br><br>
                  ですが、それらの手間が省けたらどうでしょうか？<br><br>
                  相談を行わずとも対応してくれた飲食店や宿泊施設がわかっていたらどうでしょうか？<br><br>
                  一人の情報が他の誰かの知りたい情報になり、他の誰かの情報が、自分にとってのありがたい情報になるかもしれません。<br><br>
                  シェアされる情報が増えていけばいくだけ、より良いコミュニティになっていくでしょう。<br><br>
                  現状がまだ多様な食文化への理解に追いついていないのであれば、<br><br>
                  自分たちで新しいコミュニティを生んでより良くしていけばいいのです。<br><br>
                  <strong>Ve-Commu</strong>はそんな発想から生まれたコミュニティサイトです。<br><br>
                </p>
              </div>
            </div>
          </div>


      </div>
    </div>
  </div>
</div>