<div class="container-field align-items-center">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-5">

      <div class="text-center mt-5">
        <h3><strong><%= flash[:notice] %></strong></h3>
      </div>

        <div class="p-2 text-secondary text-center">
          <i class="far fa-smile fa-lg my-orange"></i>
          <h1>お問い合わせありがとうございました！！</h1>
        </div>

         <div class="row">
          <%= link_to "メールフォームへ戻る", new_contact_path %>
         </div>

    </div>
  </div>
</div>