<% if end_user_signed_in? %>
  <% if post.liked_by?(current_end_user) %>
    <td>
      <%= link_to post_likes_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
      <% end %>
      <%= post.likes.count %> いいね
   </td>
  <% else %>
    <td>
      <%= link_to post_likes_path(post), method: :post, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true"></i>
      <% end %>
      <%= post.likes.count %> いいね
    </td>
  <% end %>
<% end %>