<div class="container-fluid border-top border-5 mt-auto">
  <p class="text-center text-primary">©Ve-Commu Inc. All Rights reserved.</p>
</div>

<div class="text-center">
  <%= link_to admin_session_path, class: "text-decoration-none text-primary h5" do %>
  <i class="fa-solid fa-lock"></i>
  <% end %>
</div>