<div class="container-fluid mt-auto">
  <p class="text-center text-light">©Ve-Commu Inc. All Rights reserved.</p>
</div>

<div class="text-center">
  <%= link_to admin_session_path, class: "text-decoration-none text-light h5" do %>
    <i class="fas fa-user-lock"></i>
  <% end %>
</div>