<div class="container-fluid mt-auto">
  <p class="text-center text-light">©Ve-Commu Inc. All Rights reserved.</p>
</div>

<div class="text-center">
  <%= link_to admin_session_path, class: "text-decoration-none text-dark h5" do %>
  <i class="fa-solid fa-lock"></i>
  <% end %>
</div>